# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bjørn Asle Taranger
	email = BjornAsle.Taranger@altibox.no
[gui]
	encoding = utf-8
[core]
	editor = vim
	excludesfile = /Users/bjorn/.gitignore_global
	autocrlf = input
[pull]
	rebase = false
[init]
	defaultbranch = main
