
# Git related aliases
become() { git fetch --all && git reset --hard origin/$1 ; }


# Other useful stuff
# list readable files in current directory
alias rable='ls -AFtrd *(R)'

# list unreadable files in current directory
alias nrable='ls -AFtrd *(^R)'

# shortcut to the learning journal for vim training
alias vj='$EDITOR ~/journals/Vim.md'
alias bj='$EDITOR ~/journals/Bass.md'


TMUX_CONFIG="~/.config/tmux/tmux.conf"
# TMUX related aliases
alias \
  tn="tmux -u -f $TMUX_CONFIG new" \
	ta="tmux -u -f $TMUX_CONFIG attach" \
	tt="$EDITOR $TMUX_CONFIG" \


# Python related aliases:
#
# Start the pydoc server (and open a browser)
alias pdoc="python -m pydoc -b"

# Apply the local virtual environment
alias ven="source ./venv/bin/activate"

# forever use python3 instead of python2
alias python=python3
alias pip=pip3

# Servers
alias cjumpo="ssh bjornt@oslcpejump1.lysetele.net"
alias cjumps="ssh bjornt@svgcpejump1.lysetele.net"
alias cbulko="ssh bjornt@oslcpebulkwrk1.lysetele.net"
alias bulko="ssh bjornt@oslbulkwrk1.lysetele.net"
alias cbulks="ssh bjornt@svgcpebulkwrk1.lysetele.net"
alias cdbo="ssh bjornt@oslcpedb1.lysetele.net"
alias cdbs="ssh bjornt@svgcpedb2.lysetele.net"
alias cstor="ssh bjornt@svgcpestor1.lysetele.net"
alias cfix1="ssh bjornt@cpefix1.lysetele.net"
